body {
	margin: 0;
	padding: 0;
	background-image: linear-gradient(60deg, #1c1c1c 0%, #161616 100%);
}

.card {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 30px;
	width: 20%;
	height: 400px;
	background-color: #202020;
	color: #ecf0f1;
	border-radius: 8px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card:hover {
	background-color: #242424;
	cursor: pointer;
	transition: ease-in;
	transition: 10ms;
}

.card-image {
	width: 90%;
	height: 50%;
	border-radius: 5%;
	margin-bottom: 15px;
	object-fit: cover;
}

.card-title {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.card-content {
	font-size: 1rem;
	text-align: center;
	margin-bottom: 15px;
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #0074e4, #00b2ff);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cta-button:hover {
    background: linear-gradient(135deg, #005fbf, #00a2e6);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

.card-button, .raffle-create {
    background: linear-gradient(135deg, #0074e4, #00b2ff);
	transition: background-color 0.3s ease, transform 0.2s ease;
	font-size: 18px;
	color: #ecf0f1;
	border: none;
	border-radius: 4px;
	padding: 8px 12px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.card-button:hover {
	background-color: #2980b9;
}

.price-wrap {
	display: flex;
}

.hedera-image {
	margin-right: 5px;
	margin-top: 24px;
	border-radius: 100%;
	width: 20%;
	height: 30%;
}

.token_id {
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.button {
	font-size: 35px;
	font-weight: 500;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

#toggleButton{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 255, 255);
    border-radius: 100%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-bottom: 3px;
	
	transition: transform 0.3s ease-in-out;
}

.text-fields {
	display: none;
	flex-direction: column;
	gap: 10px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	align-items: center;
}

.visible {
	display: flex;
	opacity: 1;
}
.create-textfield{
	margin-top: 10px;
	padding: 5px;
	width: 250px;
	height: 20px;
}
