.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}
.inp{
    width: 30%;
    padding: .7rem;
    border-radius: 3px;
    margin: 1rem;
}
.home p{
    font-size: 30px;
    text-align: center;
}
.home img{
    margin-top: 2rem;
    border-radius: 30px;
    width: 350px;
    height: 350px;
}